/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/*Estilos Desktop*/
body {
    background-color: #0e1014;
    color: #fff;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}